@font-face { /* open-sans-regular - latin */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans'), local('OpenSans'),
		url('./fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('./fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('./fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
}



#net_form, #train_form {
	font-size: 0.9em;
	width: 210px;
	height: 400px;
	padding: 1em;
}

#net_form {
	float: left;
}

#train_form {
	float: right;
}



#train_plot, #DBNgraph, #input_image, #receptive_fields {
	padding: 1em;
	margin-bottom: 4em;
}

#train_plot {
	position: relative;
	width: 45%;
	height: 400px;
	float: left;
	clear: left;
}

#train_plot_loading {
	opacity: 0;
}

#DBNgraph {
	width: 45%;
	height: 400px;
	float: right;
}

#input_image {
	height: 460px;
	width: 400px;
	float: left;
}

#receptive_fields {
	width: 540px;
	float: right;
}

.rec_field {
	height: 110px;
	width: 100px;
	float: left;
	margin: 0 2px;
}
